/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.ie header,
.ie nav,
.ie section,
.ie article,
.ie aside,
.ie footer,
.ie hgroup {
  display: block;
}
@-ms-viewport {
  width: device-width;
}
html {
  background: white;
  width: 100%;
  overflow-x: hidden;
}
body {
  background: #1a1a1a;
  overflow-x: hidden;
  width: 100%;
  font-family: 'Merriweather', serif;
}
@media (max-width: 999px) {
  body.with-sidebar #menu-button {
    opacity: 0;
  }
  body.with-sidebar #sidebar {
    left: 0;
    opacity: 1;
  }
  body.with-sidebar #mobile-nav {
    left: 200px;
  }
  body.with-sidebar #page {
    left: 200px;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
em {
  font-style: italic;
}
.text-content a {
  color: #9f7142;
  line-height: 1;
  border-bottom: 1px solid #9f7142;
}
.text-content p {
  line-height: 1.4;
  margin: 15px 0;
}
.text-content h1 {
  font-size: 36px;
}
.text-content h2 {
  font-size: 36px;
}
.text-content h3 {
  font-size: 30px;
}
.text-content h4 {
  font-size: 24px;
}
.text-content h6 {
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.4;
  margin: 15px 0;
}
.text-content ul {
  list-style: circle inside none;
  line-height: 1.4;
  -webkit-columns: 250px 2;
  -moz-columns: 250px 2;
  columns: 250px 2;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}
.text-content ul li {
  margin: 5px 0;
}
#sidebar {
  background: #1a1a1a;
  color: #777;
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transition: left 0.3s, opacity 0.3s;
  -moz-transition: left 0.3s, opacity 0.3s;
  -ms-transition: left 0.3s, opacity 0.3s;
  -o-transition: left 0.3s, opacity 0.3s;
}
@media all and (max-width: 999px) {
  #sidebar {
    left: -50px;
    position: absolute;
    opacity: 0;
  }
}
#sidebar h1 {
  display: inline-block;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.2;
}
@media all and (max-width: 999px) {
  #sidebar h1 {
    display: none;
  }
}
#sidebar ul {
  margin-top: 100px;
  color: #777;
}
@media all and (max-width: 999px) {
  #sidebar ul {
    margin-top: 30px;
  }
}
#sidebar ul li {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
#sidebar ul li:hover,
#sidebar ul li active {
  color: #fff;
}
#sidebar ul li a {
  width: 100%;
  height: 100;
  line-height: 60px;
  display: block;
}
#sidebar .logo-container {
  width: 50px;
  height: 50px;
  background: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: 40px auto 20px;
}
@media all and (max-width: 999px) {
  #sidebar .logo-container {
    display: none;
  }
}
.svg #sidebar .logo-container {
  background: url('../img/logo.svg');
}
.svg #mobile-nav .logo-container {
  background: url('../img/logo.svg');
}
#mobile-nav {
  background: #1a1a1a;
  color: #333;
  text-align: center;
  position: relative;
  display: none;
  z-index: 2;
  left: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
@media all and (max-width: 999px) {
  #mobile-nav {
    display: block;
  }
}
#mobile-nav h1 {
  display: inline-block;
  padding: 15px 0;
  vertical-align: middle;
  color: #fff;
  text-transform: uppercase;
}
#mobile-nav .logo-container {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background: url('../img/logo.png');
}
@media all and (max-width: 399px) {
  #mobile-nav .logo-container {
    margin-left: 40px;
  }
}
#menu-button {
  position: absolute;
  line-height: 50px;
  padding: 0 15px;
  top: 0;
  left: 0;
  font-size: 14px;
  letter-spacing: 1px;
  border-right: 1px solid #333;
  color: white;
  cursor: pointer;
  height: 100%;
  font-family: 'Merriweather Sans', sans-serif;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
}
#mobile-close {
  padding: 10px 0;
  margin-top: 5px;
  cursor: pointer;
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
}
#mobile-close .fa {
  font-size: 16px;
  margin-right: 5px;
}
@media all and (max-width: 999px) {
  #mobile-close {
    display: block;
  }
}
#page {
  margin-left: 200px;
  background-color: #333;
  position: relative;
  min-height: 100%;
  left: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
@media all and (max-width: 999px) {
  #page {
    margin: 0;
  }
}
.grid-sizer {
  width: 8.33%;
  width: -webkit-calc(8.33333333%);
  width: -moz-calc(8.33333333%);
  width: calc(8.33333333%);
}
.item {
  width: 33.33%;
  width: -webkit-calc(33.33333333%);
  width: -moz-calc(33.33333333%);
  width: calc(33.33333333%);
  display: inline-block;
  height: 0;
  float: left;
  padding-bottom: 25%;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
@media all and (max-width: 799px) {
  .item {
    width: 50%;
    padding-bottom: 50%;
  }
}
@media all and (max-width: 399px) {
  .item {
    width: 100%;
    padding-bottom: 100%;
  }
}
.item.w2 {
  width: 66.66%;
  width: -webkit-calc(66.66666667%);
  width: -moz-calc(66.66666667%);
  width: calc(66.66666667%);
}
@media all and (max-width: 799px) {
  .item.w2 {
    width: 100%;
  }
}
@media all and (max-width: 399px) {
  .item.w2 {
    width: 100%;
  }
}
.item.h2 {
  padding-bottom: 50%;
}
@media all and (max-width: 799px) {
  .item.h2 {
    padding-bottom: 100%;
  }
}
@media all and (max-width: 799px) {
  .item.h2.half {
    padding-bottom: 50%;
  }
}
@media all and (max-width: 499px) {
  .item.h2.half {
    padding-bottom: 100%;
  }
}
.item.half {
  width: 50%;
}
@media all and (max-width: 399px) {
  .item.half {
    width: 100%;
  }
}
.item.quarter {
  width: 25%;
}
@media all and (max-width: 799px) {
  .item.quarter {
    width: 50%;
  }
}
@media all and (max-width: 399px) {
  .item.quarter {
    width: 100%;
  }
}
@media all and (max-width: 399px) {
  .item.article {
    padding-bottom: 60%;
  }
}
.item.article .content {
  line-height: 1.4;
  font-family: 'Merriweather Sans', sans-serif;
  background: none;
}
.item.article .content:hover .text h2:after,
.item.article .content:active .text h2:after {
  width: 50%;
}
.item.article .content .text {
  background: none;
  top: 0;
  opacity: 1;
  color: #888;
  font-size: 36px;
  padding: 10%;
}
.item.article .content .text h2 {
  text-shadow: none;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
.item.article .content .text h2:after {
  content: '';
  display: block;
  width: 40%;
  height: 1px;
  background: #9f7142;
  margin: 20px 0;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
.item.article .content .text p {
  font-size: 16px;
  font-family: 'Merriweather', serif;
}
@media all and (max-width: 1100px) {
  .item.article .content .text p {
    font-size: 14px;
    line-height: 24px;
  }
}
.item .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.item .content:hover .text,
.item .content:active .text {
  opacity: 1;
}
.item .content .text {
  position: absolute;
  bottom: 0;
  padding: 30px 30px;
  width: 100%;
  color: #fff;
  background: url('../img/gradient.png');
  background-repeat-y: no-repeat;
  background-size: contain;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
}
.item .content .text h2 {
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  font-weight: normal;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.item .content .text h2 span {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
  text-transform: uppercase;
}
.layout {
  background: #fff;
  min-height: 100%;
}
.layout header {
  background-position: top left;
  background-repeat: no-repeat;
  background-color: #333;
}
@media all and (max-width: 499px) {
  .layout header {
    background-position: center center;
    background-size: cover;
  }
}
.layout header .shade {
  padding: 40px;
  background: rgba(51, 51, 51, 0.65);
}
@media all and (max-width: 699px) {
  .layout header .shade {
    padding: 20px;
  }
}
.layout header .title {
  display: inline-block;
}
@media all and (max-width: 499px) {
  .layout header .title {
    text-align: center;
    display: block;
  }
}
.layout header h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 12px;
}
@media all and (max-width: 699px) {
  .layout header h1 {
    font-size: 24px;
    margin-bottom: 8px;
  }
}
.layout header h4 {
  text-transform: uppercase;
  color: #ccc;
  font-family: 'Merriweather Sans', sans-serif;
  font-sie: 18px;
}
@media all and (max-width: 699px) {
  .layout header h4 {
    font-size: 14px;
  }
}
.layout header .icons {
  float: right;
  vertical-align: middle;
}
@media all and (max-width: 499px) {
  .layout header .icons {
    float: none;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
}
.layout header .icons .fa {
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
}
@media all and (max-width: 699px) {
  .layout header .icons .fa {
    font-size: 20px;
    margin-left: 10px;
  }
}
@media all and (max-width: 499px) {
  .layout header .icons .fa {
    margin: 0 10px;
  }
}
.layout header.about {
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
}
.layout header.about .shade {
  background: rgba(51, 51, 51, 0.25);
}
.layout header .me {
  width: 150px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 25px 0;
}
@media all and (max-width: 699px) {
  .layout header .me {
    width: 100px;
    margin: 15px 0;
  }
}
.layout .container {
  background: #fff;
}
.layout .container figure {
  font-size: 0;
  /* To remove spacing from inline elements */
  float: left;
}
.layout .container figure img {
  max-width: 100%;
  width: 66.6666%;
}
@media all and (max-width: 1200px) {
  .layout .container figure img {
    border-width: 15px;
  }
}
@media all and (max-width: 699px) {
  .layout .container figure img {
    border-width: 10px;
    width: 100%;
  }
}
.layout .container figure figcaption {
  width: 33.3333%;
  display: inline-block;
  vertical-align: top;
  padding: 40px;
  font-size: 16px;
  line-height: 1.7;
  color: #888;
}
@media all and (max-width: 1100px) {
  .layout .container figure figcaption {
    font-size: 14px;
    line-height: 24px;
  }
}
@media all and (min-width: 700px) and (max-width: 750px) {
  .layout .container figure figcaption {
    padding: 25px;
  }
}
@media all and (max-width: 699px) {
  .layout .container figure figcaption {
    width: 100%;
    display: block;
  }
}
.layout .container figure.image-right figcaption {
  float: left;
  text-align: right;
}
@media all and (max-width: 699px) {
  .layout .container figure.image-right figcaption {
    float: none;
    text-align: left;
  }
}
.contact-banner {
  background: #ccc;
  color: #333;
  text-align: center;
  padding: 50px 0;
  line-height: 1.4;
}
.contact-banner h2 {
  font-size: 16px;
}
@media all and (max-width: 999px) {
  .contact-banner {
    padding: 30px;
  }
  .contact-banner h2 {
    font-size: 14px;
  }
}
ul.contact {
  margin-bottom: 100px;
  margin-top: 30px;
}
ul.contact li {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}
@media all and (max-width: 899px) {
  ul.contact li {
    width: 49%;
  }
}
@media all and (max-width: 450px) {
  ul.contact li {
    width: 100%;
  }
}
ul.contact .round {
  margin: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
ul.contact .round:hover .fa,
ul.contact .round.active .fa {
  color: #fff;
}
ul.contact .fa {
  font-size: 42px;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 30px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
ul.contact h4 {
  font-family: 'Merriweather Sans', sans-serif;
  color: #333;
  margin-top: 20px;
}
.text-wrapper {
  max-width: 720px;
  margin: 40px auto;
  padding: 10px;
}
@media all and (max-width: 699px) {
  .text-wrapper {
    font-size: 14px;
  }
  .text-wrapper h1 {
    font-size: 20px;
  }
}
.text-wrapper h1 {
  font-family: 'Merriweather Sans', sans-serif;
  margin-bottom: 30px;
}
.text-wrapper h6 {
  color: #9f7142;
}
.text-wrapper .text-content {
  color: #333;
}
.touch .item .content .text {
  opacity: 1;
}
