extends index.html.jade

block content
	.portfolio-layout
		header(style="background-image: url('img/lastfm-1.jpg')")
			.shade
				.title
					i.fa.fa-desktop
					i.fa.fa-tablet
					i.fa.fa-mobile
					h2 LastFM App Redesign
					h3 Mobile App Design
		.breakdown
			.wrapper
				.col
					.info-module
						i.fa.fa-users
						h3 Client
						p Personal/Academic
					.info-module
						i.fa.fa-calendar-o
						h3 Date
						p May 2014
				.col
					.info-module
						i.fa.fa-cog
						h3 Details
						ul
							li UX Content Planning
							li Based on 44px grid
							li 
					.info-module
						i.fa.fa-wrench
						h3 Skills
						ul
							li Interface Design
							li Icon Design
							li Adobe Creative Suite
							li Layout
							li 
					.info-module
						i.fa.fa-comment-o
						h3 Comments
						p I'm always discovering new music and I love what LastFM does for their users. Their Android app, however, is very outdated. This design seeks to bring it up the speed with the latest Android style guide.
				.col
					img(src="img/lastfm-solo.jpg")
