extends ../index.html.jade

block title
	title Taylor Palmer | Error

block css
	link(type="text/css" rel="stylesheet" href="../../css/style.css")

block content
	.layout
		.container.clearfix
			.text-content(style="padding: 40px;")
				h1(style="font-size: 36px; margin-bottom: 20px;") Uhhh...
				p Looks like I haven't gotten around to building this page yet. Why don't you take a look at my 
					a(href="/") work
					| ?
				


block scripts
	script(src="../js/jquery-2.1.1.min.js")
	script(src="../js/main.js")