extends ../index.html.jade

block title
	title Taylor Palmer | Contact

block css
	link(type="text/css" rel="stylesheet" href="../../css/style.css")

block content
	.layout
		header
			.shade
				.title
					h1 Contact
					h4 The easiest ways to find me
		.container.clearfix
			ul.contact.box-grid-3
				li
					a(href="mailto:tpalmer.ixd@gmail.com") 
						.round(style="background-color: #777")
							i.fa.fa-envelope
						h4 tpalmer.ixd@gmail.com
				li
					a(href="http://twitter.com/thpalmer75") 
						.round(style="background-color: #55ACEE")
							i.fa.fa-twitter
						h4 @tpalmer75
				li
					a(href="http://codepen.io/tpalmer75") 
						.round(style="background-color: #111")
							i.fa.fa-codepen
						h4 tpalmer75
				li
					a(href="https://www.behance.net/taylorpalmer") 
						.round(style="background-color: #1769ff;")
							i.fa.fa-behance
						h4 taylorpalmer
				li
					a(href="http://github.com/tpalmer75") 
						.round(style="background-color: rgb(140, 198, 101);")
							i.fa.fa-github
						h4 tpalmer75
				li
					a(href="www.linkedin.com/pub/taylor-palmer/71/4a1/626/") 
						.round(style="background-color: #999")
							i.fa.fa-linkedin
						h4 Taylor Palmer
				


block scripts
	script(src="../js/jquery-2.1.1.min.js")
	script(src="../js/main.js")